[user]
    name = Ruslan Kiyanchuk
    email = ruslan.kiyanchuk@gmail.com
    signingkey = ~/.ssh/id_ed25519_git

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
	program = ssh-keygen

[commit]
    gpgsign = true

[credential]
    helper = cache --timeout=2592000

[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

[apply]
    whitespace = warn

[core]
    attributesfile = /Users/ruslan/.git.d/.gitattributes
    editor = nvim
    # editor = code --wait --new-window --profile Minimal
	excludesFile = ~/.gitignore

[help]
    autocorrect = 1

[diff]
    tool = vscode

[merge]
    tool = vscode

[mergetool]
    keepBackup = false

[mergetool "nvim"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[mergetool "vscode"]
    cmd = code --wait $MERGED

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[difftool "intellij"]
    cmd = idea diff $(cd $(dirname \"$LOCAL\") && pwd)/$(basename \"$LOCAL\") $(cd $(dirname \"$REMOTE\") && pwd)/$(basename \"$REMOTE\")

[mergetool "intellij"]
    cmd = idea merge $(cd $(dirname \"$LOCAL\") && pwd)/$(basename \"$LOCAL\") $(cd $(dirname \"$REMOTE\") && pwd)/$(basename \"$REMOTE\") $(cd $(dirname \"$BASE\") && pwd)/$(basename \"$BASE\") $(cd $(dirname \"$MERGED\") && pwd)/$(basename \"$MERGED\")
    trustExitCode = true

[web]
    browser = google-chrome

[pull]
    rebase = false
    ff = only

[push]
    default = current

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[rerere]
    enabled = true

[alias]
    br = branch -vv
    bra = branch -avv
    cm = commit -S
    co = checkout
    dc = diff --cached
    ds = diff --stat
    hist = log --graph --decorate --date=short --pretty=format:\"%Cblue%h%Creset %C(yellow)%ad%Creset %<(16)%Cgreen%an%Creset %s %Cred%d%Creset \"
    hist-signed = log --graph --decorate --date=short --pretty=format:\"%Cblue%h%Creset %C(yellow)%ad%Creset %Cred%G?%Creset %<(50)%Cblue%GK%Creset %<(16)%Cgreen%an%Creset %s %Cred%d%Creset \"
    rebase-sign = rebase --exec 'git commit --amend --no-edit -n -S'
    ls = ls-files
    mt = mergetool
    st = status -sb
    authors = shortlog -sne
    prune-local = !bash -c 'git branch --format \"%(upstream:track)%(refname)\" | grep \"^\\[gone\\]\" | cut -c 18- | xargs git branch -D'

    # Rank authors by numbers of commits (don't do it!)
    contributors = shortlog -sne --group=author --group=trailer:co-authored-by

    # Recursively fast-forward all branches in the repo.
    rffwd = "!bash ~/.git.d/git-ffwd-branches.sh"

    # Recursively pull and update all branches in all repos in current dir.
    rpull = "! ~/.git.d/git-rpull.sh"

[includeIf "gitdir:~/src/"]
    path = ~/src/.gitconfig
