# Mutt
mutt/.mutt/secret.yaml
mutt/.mutt/temp/
mutt/.mutt/cache/

# Python
*.pyc

# Tmux
tmux/.tmux/plugins/
tmux/.tmuxp/*.yml

# Neovim
.netrwhist
/neovim/.config/nvim/spell/
/neovim/.config/nvim/autoload/
/neovim/.config/nvim/plugins/
/neovim/.config/nvim/lazy-lock.json

# Vim
/vim/.vim/.netrwhist
/vim/.vim/backups/
/vim/.vim/bundle/
/vim/.vim/session.vim
/vim/.vim/spell/
/vim/.vim/swap/
/vim/.vim/autoload/
/vim/.vim/plugins/

# GTK
gtk/.config/gtk-3.0/bookmarks

# GoldenDict
goldendict/.goldendict/index/
goldendict/.goldendict/history

# GnuPG
gnupg/.gnupg/

# Sage
sage/.sage/cache
sage/.sage/R
sage/.sage/ipython*

# Systemd
systemd/.config/systemd/user/default.target.wants/
systemd/.config/systemd/user/sockets.target.wants/

# Brewfile
Brewfile.lock.json

# macOS
.DS_Store

# Fish
fish/.config/fish/completions/
fish/.config/fish/fish_variables
fish/.config/fish/functions/
fish/.config/fish/conf.d/

# Font build files
_fonts/Iosevka/
_fonts/nerd-fonts
_fonts/dist

# AI Assistants
.claude/
