# Mutt
mutt/.mutt/secret.yaml
mutt/.mutt/temp/
mutt/.mutt/cache/

# Python
*.pyc

# Tmux
tmux/.tmux/plugins/
tmux/.tmuxp/*.yml

# Neovim
.netrwhist
/neovim/.config/nvim/spell/
/neovim/.config/nvim/autoload/
/neovim/.config/nvim/plugins/

# Vim
/vim/.vim/.netrwhist
/vim/.vim/backups/
/vim/.vim/bundle/
/vim/.vim/session.vim
/vim/.vim/spell/
/vim/.vim/swap/
/vim/.vim/autoload/
/vim/.vim/plugins/

# GTK
gtk/.config/gtk-3.0/bookmarks

# GoldenDict
goldendict/.goldendict/index/
goldendict/.goldendict/history

# GnuPG
gnupg/.gnupg/

# Sage
sage/.sage/cache  
