#window {
  font-family: "Iosevka";
  font-weight: 300;
  font-size: 22;
}

window#waybar {
  background-color: rgba(49, 54, 59, 0.8);
  border-radius: 0;
  border: none;
  color: #bdc3c7;
}

#tray {
  font-family: "Dejavu Sans";
}

#mode, #pulseaudio, #idle_inhibitor, #network, #custom-vpn, #custom-keyboard, #battery, #clock {
  padding: 0 10px;
  margin: 0 5px;
}

#workspaces button {
  padding: 0 10 0 10px;
  color: #bdc3c7;
  font-family: "Iosevka";
  font-weight: 300;
  font-size: 22;
  border-bottom: 2px solid transparent;
  border-radius: 0;
}

#workspaces button:hover {
  background-color: #434c5e;
}

#workspaces button.focused {
  border-bottom: 2px solid;
}
#workspaces button.visible {
  background-color: rgba(60, 65, 70, 0.8);
}
#workspaces button.persistent {
  color: #4d4d4d;
}
#workspaces button.urgent {
  color: #da4453;
}

#mode {
  color: #bdc3c7;
}

#pulseaudio {
  background-color: #8fbcbb;
  color: #2e3440;
}

#pulseaudio.audio.muted {
  background-color: #bf616a;
}

@keyframes inhibitor-blink {
  to {
    background-color: #d08770;
  }
}

#idle_inhibitor {
  background-color: #2e3440;
  color: #d8dee9;
}

#idle_inhibitor.activated {
  color: #2e3440;
  background-color: #ebcb8b;
  animation-name: inhibitor-blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  background-color: #a3be8c;
  color: #2e3440;
}

#network.disconnected {
  background-color: #bf616a;
}

#custom-vpn {
  background-color: #4c566a;
  color: #d8dee9;
}

#custom-keyboard {
  background-color: #b48ead;
  color: #2e3440;
}

#battery {
  background-color: #81a1c1;
  color: #2e3440;
}

#battery.warning:not(.charging) {
  background-color: #d08770;
  animation-duration: 1s;
}

#battery.critical:not(.charging) {
  background-color: #bf616a;
  animation-duration: 0.5s;
}
